
body{
    font-family: 'Courier New', Courier, monospace;
    background-color:mediumaquamarine;
}

.title{
    text-align: center;
}

p, h2 {
    text-align: center;
}

.recipes{
    list-style-type: none;
    margin: 50px;
    padding: 50px;
    text-align: center;
    background-color:rgba(239, 243, 28, 0.397);
}
