
body{
    font-family: 'Courier New', Courier, monospace;
    background-color:mediumaquamarine;
}

.title{
    text-align: center;
}

p, h2 {
    text-align: center;
}

.list{ 
    list-style-type: none;
    margin: 100px;
    padding: 50px;
    text-align: center;
    background-color:rgba(100, 43, 138, 0.397);
}
